<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <unpack>false</unpack>
            <scope>compile</scope>
            <excludes>
                <exclude>org.elasticsearch:elasticsearch</exclude>
                <exclude>org.apache.lucene:lucene-core</exclude>
                <exclude>org.apache.lucene:lucene-analyzers-common</exclude>
                <exclude>org.apache.lucene:lucene-codecs</exclude>
                <exclude>org.apache.lucene:lucene-queryparser</exclude>
                <exclude>org.apache.lucene:lucene-queries</exclude>
                <exclude>org.apache.lucene:lucene-memory</exclude>
                <exclude>org.apache.lucene:lucene-highlighter</exclude>
                <exclude>org.apache.lucene:lucene-suggest</exclude>
                <exclude>org.apache.lucene:lucene-join</exclude>
                <exclude>org.apache.lucene:lucene-spatial</exclude>
                <exclude>org.apache.lucene:lucene-grouping</exclude>
                <exclude>org.apache.lucene:lucene-sandbox</exclude>
                <exclude>com.spatial4j:spatial4j</exclude>
            </excludes>
        </dependencySet>
    </dependencySets>
    <fileSets>
        <fileSet>
            <directory>${project.build.directory}</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>*.jar</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>
